[FORMAT]
# Maximum number of characters on a single line.
max-line-length=116

# Allow common ML variable naming: e.g., X_train, C
argument-rgx=[A-Za-z_][a-z0-9_]{0,30}$

[MESSAGES CONTROL]
# Allow TODOs in code to facilitate experimental development
disable=fixme

#Allow global variables
disable=global-variable
