click==8.0.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.0
nltk==3.6.7
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
pytz==2022.1
regex==2022.4.24
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
threadpoolctl==3.1.0
tqdm==4.64.0
typing-extensions==4.1.1
zipp==3.6.0
