# local package
-e .
bandit
black

# terminal dependencies
dvc[gdrive]

# external requirements
click
coverage
pyproject-flake8
isort
mllint==0.12.1
mypy
nltk~=3.7
numpy
pandas~=1.4.2
pylint
python-dotenv>=0.5.1
scikit-learn~=1.1.1
scipy

Sphinx
toml
pytest
types-PyYAML==6.0.7
PyYAML~=6.0
setuptools~=57.0.0

matplotlib==3.4.1
Flask
markupsafe==2.0.1
jinja2<3.1.0
flasgger
